<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section">
    <h2 id="Introduction">はじめに</h2>
    <p>AvayaRoomsSystemsは、オンラインで他の人と会うことができるビデオ会議アプリケーションです。より多くのオーディエンスにリーチするために、Brightcoveライブを活用してミーティングをストリーミングして、他のユーザーが見られるようにすることができます。 </p>  </section><section class="bcls-section">
    <h2 id="Steps">ステップ</h2>
    <p>Brightcoveライブでミーティングを主催するには、次の手順に従います。</p>
    <ol class="bcls-tasklist-restart">
{% if site.product_short==&quot;VideoCloud&quot;またはsite.product_short=="Beacon"またはsite.product_short=="CorpTV"%}
      <li>Studio で、<a href="/live/live-module/creating-and-managing-live-events-using-live-module.html" target="_blank"> Live モジュールを使用したライブ イベント</a>. {% endif %} {% if site.product_short == &quot;Live&quot; %}
      <li>Studio で、<a href="/live-module/creating-and-managing-live-events-using-live-module.html" target="_blank"> Live モジュールを使用したライブ イベント</a>. {% endif %}<aside class="bcls-aside bcls-aside--information">ノート：完了後にブロードキャストを保存する場合は、必ず<strong>完了時にイベントをビデオ アセットに変換する</strong>チェックボックス。</aside>
      </li>
      <li>ライブ イベントを作成したら、ストリーミング RTMP URL とストリーミング キーを<strong>制御室</strong>パネル。
        <ul>
          <li>ストリーミング RTMP URL -<strong>ストリーミング エンドポイント URL</strong> (エンドポイント URL は、Brightcove Live Control Room で見つけることができます。</li>
          <li>ストリーミング キー -<strong>ストリーム名</strong>(ブライトコーブでは、ストリーム名は常に<strong>&quot;生きている&quot;</strong> )</li>
        </ul>
      </li>
      <li>Web サイト/イントラネットページにこのライブイベントのプレーヤーを公開して埋め込み、ページの URL を書き留めます。</li>
    </ol>  </section><section class="bcls-section">
    <h2 id="Streaming Session">ストリーミングセッションの設定</h2>
    <p>ストリーミング RTMP URL とストリーミングキーを使用して、Avaya コーデックユニットで設定する必要があります。</p>
    <ol class="bcls-tasklist-restart">
      <li>Avaya GUI で、<strong>設定 &gt; ストリーミング</strong>.
        <p>(オプション) Avaya Web サイトで、<strong>管理者設定 &gt; ユーティリティ &gt; ストリーミング</strong>.</p>
      </li>
      <li>ストリーミング RTMP URL を挿入します。 <figure class="bcls-figure"><img class="bcls-image" alt="" src="/assets/images/s-web-conferencing-img/avaya/configure-rtmp.png" /></figure>
      </li>
      <li>ストリーミングキーを挿入します。</li>
    </ol>  </section><section class="bcls-section">
    <h2 id="start_stop">ストリーミングセッションの開始/停止</h2>
    <p>ストリーミングセッションを開始または停止するには、次の手順を実行します。</p>
    <ol class="bcls-tasklist-restart">
      <li>に行く<strong>ホームページ &gt; もっと &gt; ストリーミング</strong>.</li>
      <li>クリック<strong>ストリーミング</strong>ボタン。これにより、ライブストリームが開始されます。 <figure class="bcls-figure"><img class="bcls-image" alt="" src="/assets/images/s-web-conferencing-img/avaya/streaming.png" /></figure>
      </li>
      <li>RTMP ストリーミングはデフォルトで有効になっています。無効にするには、Avaya プラットフォームで<strong>構成 &gt; 詳細 &gt; ユーティリティ &gt; ストリーミング</strong>. </li>
    </ol>   </section></article>