<article class="bcls-article">
<h1>{{page.title}}</h1> <article class="bcls-article"> <summary>{{page.description}}</summary> <section class="bcls-section">
    <h2 id="Introduction">はじめに</h2>
    <p>Cisco Webex オンライン他の人と会うことができるビデオ会議アプリケーションです。より多くのオーディエンスにリーチするために、Brightcoveライブを活用してミーティングをストリーミングして、他のユーザーが見られるようにすることができます。 </p>  </section><section class="bcls-section">
    <h2 id="Steps">ステップ</h2>
    <p> Brightcoveライブでミーティングを主催するには、次の手順に従います。 </p>
    <ol class="bcls-tasklist">
      <li> サイト管理者として Cisco Webex プラットフォームにログインします。 </li>
      <li>次のいずれかを使用して<strong>サイト管理</strong>また<strong>コントロール ハブ</strong>、 有効<a href="https://help.webex.com/en-us/z4e7obb/Allow-Streaming-of-Cisco-Webex-Meetings-to-Facebook-Live">ライブ ストリームへのアクセス</a>に<strong>その他のストリーミング サービス</strong>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="ライブストリーミングプロバイダー" src="/assets/images/s-web-conferencing-img/webex/providers.png" /> <figcaption class="bcls-caption--image">ライブストリーミングプロバイダー</figcaption> </figure>
      </li>
      <li>次のいずれかを使用して<strong>サイト管理</strong>また<strong>コントロール ハブ</strong>、個々のユーザーのライブ ストリーミングを有効にします。
        <p> 案内する<strong>ユーザー</strong>更新するユーザー アカウントを選択します。クリック<strong>高度なユーザー設定とトラッキング コード</strong>ユーザーのセクションを確認し、<strong>ライブ ストリーミングを有効にする</strong>箱。 </p> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="ユーザー設定" src="/assets/images/s-web-conferencing-img/webex/user-settings.png" /> <figcaption class="bcls-caption--image">ユーザー設定</figcaption> </figure>
      </li>
      <li> Studioにログインします。 </li>
      <li>Live モジュールを開き、ライブ イベントを作成します。 {% if site.product_short == &quot;Video Cloud&quot; or site.product_short == "Beacon" or site.product_short == "CorpTV" %} 詳細については、<a href="/live/live-module/creating-and-managing-live-events-using-live-module.html"> Live モジュールを使用したライブ イベントの作成と管理</a>. {% endif %} {% if site.product_short == &quot;ライブ&quot; %} 詳細については、<a href="/live-module/creating-and-managing-live-events-using-live-module.html"> Live モジュールを使用したライブ イベントの作成と管理</a>. {% endif %}<aside class="bcls-aside bcls-aside--information">ノート：完了後にブロードキャストを保存する場合は、必ず<strong>完了時にイベントをビデオ アセットに変換する</strong>チェックボックス。</aside>
      </li>
      <li>このイベントを作成すると、次の情報が提供されます。
        <ul>
          <li> <strong>エンドポイント (RTMP URL)</strong> - ストリーミング URL </li>
          <li> <strong>ストリーム名</strong>- ストリーミング キー。値は常に<strong>生きている</strong> </li>
        </ul> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="ストリーム URL と名前" src="/assets/images/s-web-conferencing-img/webex/stream-url.png" /> <figcaption class="bcls-caption--image">ストリーム URL と名前</figcaption> </figure>
      </li>
      <li> このライブイベントのプレーヤーを公開し、ウェブサイトまたはイントラネットページに埋め込みます。ページ URL をクリップボードにコピーします。 </li>
      <li>Cisco Webex アプリケーションに戻ります。Webex ミーティングを開始またはスケジュールします。これを行うには、縦に並んだ 3 つのドットのアイコンを選択し、<strong>ライブストリーミングを開始</strong>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Webex ミーティングを開始" src="/assets/images/s-web-conferencing-img/webex/start-streaming.png" /> <figcaption class="bcls-caption--image">Webex ミーティングを開始</figcaption> </figure>
      </li>
      <li>の中に<strong>その他のストリーミングサービス情報</strong>ダイアログで、次のように入力します。
        <ul>
          <li> <strong>ストリーミングサービス</strong>:使用する<code translate="No">ブライトコーブ</code> </li>
          <li> <strong>ターゲット ストリーム リンク</strong>:使用<strong>エンドポイント (RTMP URL)</strong> Brightcove Live からの値。 </li>
          <li> <strong>ターゲット ストリーム キー</strong>:使用する<code translate="No">生きている</code>(常にこの値です) </li>
        </ul> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="ストリーミング情報" src="/assets/images/s-web-conferencing-img/webex/stream-info.png" /> <figcaption class="bcls-caption--image">ストリーミング情報</figcaption> </figure>
      </li>
      <li>それだおまえは生きてる！ <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Brightcoveにライブストリーミング" src="/assets/images/s-web-conferencing-img/webex/live-connection.png" /> <figcaption class="bcls-caption--image">Brightcoveにライブストリーミング</figcaption> </figure>
      </li>
    </ol>   </section></article>