<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="bcls-section">
    <h2 id="Introduction">Introduction</h2>
    <p>Avaya Rooms Systems is a video conferencing application that allows you to meet with other people online. To reach a larger audience, you can leverage Brightcove Live to stream your meeting for others to see. </p>
  </section>
  <section class="bcls-section">
    <h2 id="Steps">Steps</h2>
    <p>Follow these steps to host a meeting to Brightcove Live:</p>
    <ol class="bcls-tasklist-restart">
{% if site.product_short == "Video Cloud" or site.product_short == "Beacon" or site.product_short == "CorpTV" %}
      <li>In Studio, create a <a href="/live/live-module/creating-and-managing-live-events-using-live-module.html" target="_blank">live event using the Live module</a>.
    {% endif %}
{% if site.product_short == "Live" %}
      <li>In Studio, create a <a href="/live-module/creating-and-managing-live-events-using-live-module.html" target="_blank">live event using the Live module</a>.
    {% endif %}
        <aside class="bcls-aside bcls-aside--information">Note: If you want to save the broadcast after it’s complete, make sure to check the <strong>Convert event to video asset when complete</strong> checkbox.</aside>
      </li>
      <li>Once you create the Live event, copy the Streaming RTMP URL and Streaming Key from the <strong>Control Room</strong> panel.
        <ul>
          <li>Streaming RTMP URL - <strong>Streaming Endpoint URL</strong> (You can find the endpoint URL in the Brightcove Live Control Room</li>
          <li>Streaming Key - <strong>Stream Name</strong> (In Brightcove, the Stream Name is always <strong>"alive"</strong>)</li>
        </ul>
      </li>
      <li>Publish and Embed the player for this Live event in your website/intranet page, and note the page URL.</li>
    </ol>
  </section>
  <section class="bcls-section">
    <h2 id="Streaming Session">Configure the Streaming Session</h2>
    <p>With the Streaming RTMP URL and Streaming Key you must configure them on the Avaya Codec Unit.</p>
    <ol class="bcls-tasklist-restart">
      <li>In the Avaya GUI, go to <strong>CONFIGURE &gt; STREAMING</strong>.
        <p>(Optional) In the Avaya website, go to <strong>ADMINISTRATOR SETTINGS &gt; UTILITIES &gt; STREAMING</strong>.</p>
      </li>
      <li>Insert your Streaming RTMP URL.
        <figure class="bcls-figure"><img class="bcls-image" alt="" src="/assets/images/s-web-conferencing-img/avaya/configure-rtmp.png" /></figure>
      </li>
      <li>Insert your Streaming Key.</li>
    </ol>
  </section>
  <section class="bcls-section">
    <h2 id="start_stop">Start/Stop the Streaming Session</h2>
    <p>To start or stop the streaming session, follow these steps:</p>
    <ol class="bcls-tasklist-restart">
      <li>Go to <strong>HOME PAGE &gt; MORE &gt; STREAMING</strong>.</li>
      <li>Click the <strong>Streaming</strong> button. This will start the live stream.
        <figure class="bcls-figure"><img class="bcls-image" alt="" src="/assets/images/s-web-conferencing-img/avaya/streaming.png" /></figure>
      </li>
      <li>The RTMP Streaming is enabled by default. To disable it, in the Avaya platform go to <strong>CONFIGURE &gt; ADVANCED &gt; UTILITIES &gt; STREAMING</strong>. </li>
    </ol>
  </section>
</article>
