<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{ page.description }}<aside class="bcls-aside bcls-aside--information"> Zoom ミーティングを Brightcove Live から直接統合してストリーミングするには、{% if site.product_short == &quot;Video Cloud&quot; or site.product_short == "Beacon" or site.product_short == "CorpTV" %} にアクセスしてください。<a href="/live/live-module/zoom-live-integration.html" target="_blank">次のドキュメント</a>. {% endif %} {% if site.product_short == &quot;Live&quot; %}<a href="/live-module/zoom-live-integration.html" target="_blank">次のドキュメント</a>. {% endif %} </aside> </summary> <section class="bcls-section">
    <h2 id="Introduction">はじめに</h2>
    <p>Zoom Video Communications は、電話会議、在宅勤務、遠隔教育のためのクラウドベースのピアツーピアソフトウェアプラットフォームを提供するテクノロジー企業です。より多くのオーディエンスにリーチするために、Brightcoveライブを活用してミーティングをストリーミングして、他のユーザーが見られるようにすることができます。 </p>  </section><section class="bcls-section">
    <h2 id="Steps">ステップ</h2>
    <p> Brightcoveライブで会議やウェビナーを主催するには、次の手順に従います。 </p>
    <ol class="bcls-tasklist-restart">
      <li>為に<strong>ズーム会議</strong>、 以下をせよ：
        <ol>
          <li> Zoomミーティングに移動します<a target="_blank" href="https://zoom.us/profile/setting">設定</a>スクロールして<strong>会議中 (上級者向け)</strong>セクション。 </li>
          <li> 有効にする<strong>ライブ ストリーミング ミーティングを許可する</strong>トグルスイッチをクリックしてオプションを選択します。このオプションが表示されない場合は、Zoomアカウントマネージャにこの機能をアカウントに追加する方法についてお問い合わせください。 </li>
          <li>選択する<strong>カスタム ライブ ストリーミング サービス</strong>をクリックし、必要に応じてボックスにテキスト ノートを入力します。 <figure class="bcls-figure"><img class="bcls-image" alt="" src="/assets/images/s-web-conferencing-img/zoom/0.png" /></figure>
          </li>
        </ol>
        <p>為に<strong>ズームウェビナー</strong>、 以下をせよ：</p>
        <ol>
          <li> Zoomウェビナー設定に移動し、スクロールして<strong>ウェビナー設定で</strong>セクション。 </li>
          <li> を有効にする<strong>主催者がウェビナーをライブ ストリーミングできるようにする</strong>オプション。 </li>
          <li>選択する<strong>カスタム ストリーミング サービス</strong>、保存します。 </li>
        </ol>
      </li>
        {% if site.product_short==&quot;VideoCloud&quot;またはsite.product_short=="Beacon"またはsite.product_short=="CorpTV"%}
      <li>Studio で、<a target="_blank" href="/live/live-module/creating-and-managing-live-events-using-live-module.html"> Live モジュールを使用したライブ イベント</a>. {% endif %} {% if site.product_short == &quot;Live&quot; %}
      <li>Studio で、<a target="_blank" href="/live-module/creating-and-managing-live-events-using-live-module.html"> Live モジュールを使用したライブ イベント</a>. {% endif %}<aside class="bcls-aside bcls-aside--information">ノート：完了後にブロードキャストを保存する場合は、必ず<strong>完了時にイベントをビデオ アセットに変換する</strong>チェックボックス。</aside>
      </li>
      <li>ライブイベントを作成すると、ストリーミング URL とストリーミングキーにアクセスできます。
        <ul>
          <li><strong>ストリーミング URL</strong> - ストリーミング エンドポイント URL (エンドポイント URL は、Brightcove Live Control Room で見つけることができます</li>
          <li><strong>ストリーミング キー</strong>- ストリーム名 (ブライトコーブでは、ストリーム名は常に<strong>&quot;生きている&quot;</strong> )</li>
        </ul>
      </li>
      <li>Webサイト/イントラネットページに、このライブイベント用のプレーヤーを公開して埋め込み、ページのURLを書き留めます。
        <ul>
          <li><strong>カンファレンス</strong>- Zoom カンファレンスの場合は、<a target="_blank" href="https://zoom.us/meeting">予定された会議</a>ストリーミングしたいミーティングをリストから選択します。</li>
          <li><strong>ウェビナー</strong>- Zoom ウェビナーについては、<a target="_blank" href="https://zoom.us/webinar/list">ウェビナー画面</a>、ウェビナーをスケジュールします。を選択<strong>生放送</strong>タブ。</li>
        </ul>
      </li>
      <li>までスクロール<strong>生放送</strong>セクション <figure class="bcls-figure"><img class="bcls-image" alt="" src="/assets/images/s-web-conferencing-img/zoom/1.png" /></figure>
      </li>
      <li>を選択<strong>ライブ ストリームの設定を構成する</strong>リンク。ここでは、ストリーミング URL、ストリーミングキー、およびプレーヤーをホストしているページの URL を入力します。 <figure class="bcls-figure"><img class="bcls-image" alt="" src="/assets/images/s-web-conferencing-img/zoom/2.png" /></figure>
      </li>
      <li>Zoom コールから、<strong>もっと</strong>ボタンをクリックして、<strong>カスタム ライブ ストリーミング サービスでのライブ配信</strong>オプション。これにより、ライブストリームが開始されます。 <figure class="bcls-figure"><img class="bcls-image" alt="" src="/assets/images/s-web-conferencing-img/zoom/3.png" /></figure>
      </li>
    </ol>   </section></article>