<article class="bcls-article">
<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>
  <section class="bcls-section">
    <h2 id="Introduction">Introduction</h2>
    <p>Cisco Webex is a video conferencing application that allows you to meet with other people online. To reach a larger audience, you can leverage Brightcove Live to stream your meeting for others to see. </p>
  </section>
  <section class="bcls-section">
    <h2 id="Steps">Steps</h2>
    <p> Follow these steps to host a meeting to Brightcove Live: </p>
    <ol class="bcls-tasklist">
      <li> Log into your Cisco Webex platform as site admin. </li>
      <li>Using either the <strong>Site Administration</strong> or <strong>Control Hub</strong>, enable <a href="https://help.webex.com/en-us/z4e7obb/Allow-Streaming-of-Cisco-Webex-Meetings-to-Facebook-Live">live stream access</a> to <strong>Other streaming services</strong>.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Live streaming providers" src="/assets/images/s-web-conferencing-img/webex/providers.png" />
          <figcaption class="bcls-caption--image">Live streaming providers</figcaption>
        </figure>
      </li>
      <li>Using either the <strong>Site Administration</strong> or <strong>Control Hub</strong>, enable live streaming for individual users.
        <p> Navigate to <strong>Users</strong> and select a user account to update. Click <strong>Advanced User Settings and Tracking Codes</strong> section for the user, and check the <strong>Enable Live Streaming</strong> box. </p>
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="User settings" src="/assets/images/s-web-conferencing-img/webex/user-settings.png" />
          <figcaption class="bcls-caption--image">User settings</figcaption>
        </figure>
      </li>
      <li> Login to Studio. </li>
      <li>Open the Live module and create a  live event. 
{% if site.product_short == "Video Cloud" or site.product_short == "Beacon" or site.product_short == "CorpTV" %}
          For details, see <a href="/live/live-module/creating-and-managing-live-events-using-live-module.html">Creating and Managing Live Events using the Live Module</a>.
{% endif %}
{% if site.product_short == "Live" %}
          For details, see <a href="/live-module/creating-and-managing-live-events-using-live-module.html">Creating and Managing Live Events using the Live Module</a>.
{% endif %}
        <aside class="bcls-aside bcls-aside--information">Note: If you want to save the broadcast after it’s complete, make sure to check the <strong>Convert event to video asset when complete</strong> checkbox.</aside>
      </li>
      <li>When you create this event, you will be provided the following information:
        <ul>
          <li> <strong>Endpoint (RTMP URL)</strong> - Streaming URL </li>
          <li> <strong>Stream Name</strong> - Streaming key, where the value is always <strong>alive</strong> </li>
        </ul>
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Stream URL and name" src="/assets/images/s-web-conferencing-img/webex/stream-url.png" />
          <figcaption class="bcls-caption--image">Stream URL and name</figcaption>
        </figure>
      </li>
      <li> Publish and embed the player for this live event into your website or intranet page. Copy the page URL to your clipboard. </li>
      <li>Return to the Cisco Webex application. Start or schedule your Webex meeting. To do this, select the vertical 3-dot icon and select <strong>Start Live Streaming</strong>.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Start Webex meeting" src="/assets/images/s-web-conferencing-img/webex/start-streaming.png" />
          <figcaption class="bcls-caption--image">Start Webex meeting</figcaption>
        </figure>
      </li>
      <li>In the <strong>Other streaming service information</strong> dialog, enter the following:
        <ul>
          <li> <strong>Streaming service</strong>: Use <code translate="No">Brightcove</code> </li>
          <li> <strong>Target stream link</strong>: Use the <strong>Endpoint (RTMP URL)</strong> value from Brightcove Live. </li>
          <li> <strong>Target stream key</strong>: Use <code translate="No">alive</code> (It is always this value) </li>
        </ul>
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Streaming information" src="/assets/images/s-web-conferencing-img/webex/stream-info.png" />
          <figcaption class="bcls-caption--image">Streaming information</figcaption>
        </figure>
      </li>
      <li>That's it. You're live!
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Stream live to Brightcove" src="/assets/images/s-web-conferencing-img/webex/live-connection.png" />
          <figcaption class="bcls-caption--image">Stream live to Brightcove</figcaption>
        </figure>
      </li>
    </ol>
  </section>
</article>
