<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="bcls-section">
    <h2 id="Introduction">Introduction</h2>
    <p>INXPO is a video streaming platform, for creating TV-style event experiences. To reach a larger audience, you can leverage Brightcove Live to stream your event.</p>
  </section>
  <section class="bcls-section">
    <h2 id="Steps">Steps</h2>
    <p>Follow these steps to host a meeting to Brightcove Live:</p>
    <ol class="bcls-tasklist-restart">
      <li>In Studio, create a 
  {% if site.product_short == "Video Cloud" or site.product_short == "Beacon" or site.product_short == "CorpTV" %}        
          <a href="/live/live-module/creating-and-managing-live-events-using-live-module.html" target="_blank">live event using the Live module</a>.
    {% endif %}
      {% if site.product_short == "Live" %}
          <a href="/live-module/creating-and-managing-live-events-using-live-module.html" target="_blank">live event using the Live module</a>.
    {% endif %}
        <aside class="bcls-aside bcls-aside--information">If you want to save the broadcast after it’s complete, make sure to check the <strong>Convert event to video asset when complete</strong> checkbox!</aside>
      </li>
      <li>Once you create the live event, copy the Streaming RTMP URL and Streaming Key from the <strong>Control Room</strong> panel.
        <ul>
          <li><strong>Streaming RTMP URL</strong> - <strong>Streaming Endpoint URL</strong> (You can find the endpoint URL in the Brightcove Live Control Room</li>
          <li><strong>Streaming Key</strong> - <strong>Stream Name</strong> (In Brightcove, the Stream Name is always <strong>"alive"</strong>)</li>
        </ul>
      </li>
      <li>Publish and embed the player for this live event in your website/intranet page, and note the page URL.</li>
    </ol>
  </section>
  <section class="bcls-section">
    <h2 id="Streaming Session">Configure the streaming session</h2>
    <p>With the Streaming RTMP URL and Streaming Key you must configure them on the INXPO producer tool.</p>
    <ol class="bcls-tasklist-restart">
      <li>Go to the INXPO producer tool and click the 3 dots icon to reach the Output Details section.
        <figure class="bcls-figure"><img class="bcls-image" alt="" src="/assets/images/s-web-conferencing-img/inxpo/3dots.png" /></figure>
      </li>
      <li>Click the pencil icon. </li>
      <li>Fill the following details with your Brightcove Live event credentials.
        <figure class="bcls-figure"><img class="bcls-image" alt="" src="/assets/images/s-web-conferencing-img/inxpo/RTMPOuput.png" /></figure>
      </li>
      <li>In the <strong>Title</strong> field, add the Brightcove Live Stream Name.</li>
      <li>In the <strong>Encoding Profile</strong> field, select the default encoding profile which settings define how the encoder compresses and delivers the webcast to attendees.</li>
      <li>In the <strong>RTMP URL</strong> field, insert the Brightcove Streaming Endpoint URL.</li>
      <li>Click the <strong>OK</strong> button.</li>
    </ol>
  </section>
</article>
