<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}
    <aside class="bcls-aside bcls-aside--information">To integrate and stream a Zoom meeting directly from Brightcove Live, please visit the 
  {% if site.product_short == "Video Cloud" or site.product_short == "Beacon" or site.product_short == "CorpTV" %}      
        <a href="/live/live-module/zoom-live-integration.html" target="_blank">following documentation</a>.
  {% endif %}
{% if site.product_short == "Live" %}
      <a href="/live-module/zoom-live-integration.html" target="_blank">following documentation</a>.
        {% endif %}
      </aside>
  </summary>
  <section class="bcls-section">
    <h2 id="Introduction">Introduction</h2>
    <p>Zoom Video Communications is a technology company that offers a cloud-based, peer-to-peer software platform for teleconferencing, telecommuting, and distance education. To reach a larger audience, you can leverage Brightcove Live to stream your meeting for others to see. </p>
  </section>
  <section class="bcls-section">
    <h2 id="Steps">Steps</h2>
    <p> Follow these steps to host a conference or webinar to Brightcove Live: </p>
    <ol class="bcls-tasklist-restart">
      <li>For <strong>Zoom conferences</strong>, do the following:
        <ol>
          <li> Navigate to your Zoom Meeting <a target="_blank" href="https://zoom.us/profile/setting">Settings</a> and scroll to the <strong>In Meeting (Advanced</strong> section. </li>
          <li> Enable the <strong>Allow live streaming meetings</strong> option by clicking the toggle switch. If you don’t see this option, talk to your Zoom Account Manager about how to add this feature to your account. </li>
          <li>Select <strong>Custom Live Streaming Service</strong>, and optionally enter text notes in the box.
            <figure class="bcls-figure"><img class="bcls-image" alt="" src="/assets/images/s-web-conferencing-img/zoom/0.png" /></figure>
          </li>
        </ol>
        <p>For <strong>Zoom webinars</strong>, do the following:</p>
        <ol>
          <li> Navigate to your our Zoom Webinar Settings and scroll to the <strong>In Webinar Settings</strong> section. </li>
          <li> Enable the ​​<strong>Allow hosts to live stream their webinars</strong> option. </li>
          <li>Select <strong>Custom Streaming Service</strong>, and save. </li>
        </ol>
      </li>
        {% if site.product_short == "Video Cloud" or site.product_short == "Beacon" or site.product_short == "CorpTV" %}
      <li>In Studio, create a <a target="_blank" href="/live/live-module/creating-and-managing-live-events-using-live-module.html">live event using the Live module</a>.
    {% endif %}
          {% if site.product_short == "Live" %}
      <li>In Studio, create a <a target="_blank" href="/live-module/creating-and-managing-live-events-using-live-module.html">live event using the Live module</a>.
    {% endif %}        
        <aside class="bcls-aside bcls-aside--information">Note: If you want to save the broadcast after it’s complete, make sure to check the <strong>Convert event to video asset when complete</strong> checkbox.</aside>
      </li>
      <li>When you create a live event, you will have access to the Streaming URL and Streaming Key.
        <ul>
          <li><strong>Streaming URL</strong> - Streaming endpoint URL (You can find the endpoint URL in the Brightcove Live Control Room</li>
          <li><strong>Streaming Key</strong> - Stream Name (In Brightcove, the Stream Name is always <strong>"alive"</strong>)</li>
        </ul>
      </li>
      <li>Publish and embed the player for this live event in your website/intranet page, and note the page URL.
        <ul>
          <li><strong>Conferences</strong> - For Zoom conferences, navigate to your <a target="_blank" href="https://zoom.us/meeting">scheduled meeting</a> list and select the meeting that you would like to stream.</li>
          <li><strong>Webinars</strong> - For Zoom webinars, return to the <a target="_blank" href="https://zoom.us/webinar/list">Webinars screen</a>, and schedule a Webinar. Select the <strong>Live Streaming</strong> tab.</li>
        </ul>
      </li>
      <li>Scroll to the <strong>Live Streaming</strong> section
        <figure class="bcls-figure"><img class="bcls-image" alt="" src="/assets/images/s-web-conferencing-img/zoom/1.png" /></figure>
      </li>
      <li>Select the <strong>configure live stream settings</strong> link. Here you will enter the Streaming URL, Streaming Key and the URL of the page where you are hosting the player.
        <figure class="bcls-figure"><img class="bcls-image" alt="" src="/assets/images/s-web-conferencing-img/zoom/2.png" /></figure>
      </li>
      <li>From your Zoom call, click the <strong>MORE</strong> button, and select the <strong>Live on Custom Live Streaming Service</strong> option. This will start the live stream.
        <figure class="bcls-figure"><img class="bcls-image" alt="" src="/assets/images/s-web-conferencing-img/zoom/3.png" /></figure>
      </li>
    </ol>
  </section>
</article>
